{% extends 'todos/base.html' %}

{% block content %}

<form method='post'>
{% csrf_token %}
<p>Title: {{ todo.title }}</p>
<p>Description: {{ todo.short_description }}</p>
<p>Date Created: {{ todo.date_created }}</p>
<p>Date Updated: {{ todo.date_updated }}</p>
<p>User: {{ todo.user }}</p>
<p>Completed: {{ todo.is_done }}</p>
<br>
<p class='lead text-warning'>Do you want to delete this todo?</p>
<button type='delete'>Yes</button>
<a href="{% url 'home' %}">&raquo; Go back to home page</a>
</form>

{% endblock content %}